# Node
node_modules/
Frontend/node_modules/
.pnpm-store/
.next/
out/

# Env
.env
.env.local
.env.production

# Python
__pycache__/
*.pyc
.venv/

# Docker
*.log

# Docker Compose local overrides
docker-compose.override.yml
